body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Arial, sans-serif;
}

#overlay-title {
  position: absolute;
  top: 2vw;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 2.2vw;
  letter-spacing: 0.18em;
  
  text-shadow: 2px 2px 0px #acacac, 2px 2px 0px #a3a3a3;
  background-color: black;
  z-index: 10;
  pointer-events: none;
  font-weight: 500;
  opacity: 0.85;
}

body::before {
  content: '';
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  pointer-events: none;
  z-index: 0;
  background: none;
}
